* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: limegreen;
}
.numbers {
  display: flex;
  list-style: none;
  gap: 1rem;
  max-width: 100%;
  flex-wrap: wrap;
}
